.search {
  background-color: rgb(164, 164, 164);
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  transition: all 0.3s;

  input {
    background-color: transparent;
    border: none;
    padding: 0 10px;
    height: 60px;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
  }

  button {
    background-color: rgb(26, 26, 26);
    padding: 12px 24px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
      background-color: darken($color: rgb(0, 0, 0), $amount: 20);
    }
  }

  svg {
    width: 50px;
  }

  .error {
    width: 20%;
    color: rgb(176, 0, 0);
  }
}

@media (max-width: 569px) {
  svg {
    width: 25px;
  }
}
